/*-------------------общее---------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------общее---------------------*/

/*-------------------css для header---------------------*/

header{
    background-color: #FFFFFF;
    top: 0;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 81px;
    border-bottom: 1px;
    border-color: #E5E7EB;
    padding-right: 126.5px;
    padding-left: 126.5px;
    z-index: 1000;
    position: fixed;
}

.container{
    width: 100%;
    height: 81px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    width: 146.02px;
    height: 40px;
    gap: 8px;
}

.paw-container{
    align-items: center;
    border-radius: 50%;
    background-color: #FF6900;
    width: 40px;
    height: 40px;
}

.paw-container-image{
    max-width: 40px;
    max-height: 40px;
    padding: 3px;
    transform: rotate(30deg);
    filter: invert(100%);
}

.paw-container-text{
    font-family: Inter;
    width: 98.02px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    text-decoration: none;
    color: black;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    width: 296.44px;
    height: 24px;
    gap: 32px;
    align-items: center;
}

.navigation-bar-item{
    font-size: 18px;
    text-decoration: none;
    color: grey;
}

.navigation-bar-item:hover{
    color: orange;
}

.cart-glass-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88px;
    height: 36px;
    align-items: center;
}

.cart-glass-container-item{
    width: 36px;
    height: 36px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.cart-glass-container-item img{
    width: 100%;
}

.cart-glass-container-item:hover{
    background-color: lightgray;
}

#glass-id{
    cursor: default;
}

/*-------------------css для header---------------------*/

/*-------------------css для main---------------------*/

main{
    display: flex;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: 81px;
    color: #F9FAFB;
}

.main-container{
    width: 100%;
    height: 1306.33px;
    display: flex;
    flex-direction: column;
    margin-top: 81px;
}

.description{
    display: grid;
    flex-direction: column;
    background: linear-gradient(to right, #FF6900, #F6339A);
    width: 100%;
    height: 204px;
    place-items: center;
}

.discription-container{
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 76px;
    justify-content: space-between;
    gap: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

.headling-1{
    font-weight: bold;
    width: 1216px;
    height: 40px;
    font-size: 40px;
    color: white;
}

.headling-2{
    color: white;
    width: 1216px;
    height: 28px;
    font-size: 18px;
}

/*-------------------css для main---------------------*/

/*-------------------css для footer---------------------*/

footer{
    background-color: #101828;
    width: 100%;
    height: 344px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 48px;
    gap: 48px;
}

.footer-upper{
    width: 100%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.footer-upper-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    padding: 0 32px 0 32px;
}

#footer-upper-container-no-justify{
    display: flex;
    justify-content: start;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 146.02px;
    height: 40px;
    gap: 8px;
    cursor: pointer;
}

#footer-logo-text{
    color: white;
}

.footer-headling{
    width: 327.25;
    height: 27;
    color: white;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.44px;
}

.footer-upper-text{
    color: #99A1AF;
}

.footer-upper-link{
    color: #D1D5DC;
    font-size: 14px;
    text-decoration: none;
}

.footer-upper-link:hover{
    color: orange;
}

.email-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 327.25px;
    height: 38px;
    gap: 8px;
}

#email-input{
    width: 271.25px;
    height: 38px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 4px;
    border-width: 1px;
    background: #1E2939;
}

#email-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 38px;
    border-radius: 4px;
    background: #FF6900;
}

#email-image{
    width: 16px;
    height: 16px;
    filter: invert(100%);
}

#email-input{
    outline: none;
    border-color: #364153;
    background-color: #1E2939;
    color: #D1D5DC80;
}

#email-input:focus{
    border-color: orange;
}

.footer-lower{
    padding: 0 5% 0 5%;
    display: flex;
    width: 100%;
    height: 53px;
    align-items: center;
    justify-content: space-between;
    border-top: solid #1E2939 1px;
}

.copyright-text{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    width: 250.8203125px;
    height: 20px;
    color: #99A1AF;
}

.footer-icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92px;
    height: 20px;
    gap: 16px;
}

.footer-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%);
    transition: filter 0.3s ease;
}

.footer-icon:hover{
    filter: invert(50%) sepia(1) saturate(1000%) hue-rotate(3deg) brightness(1.1);
}

/*-------------------css для footer---------------------*/